
 /* .faq-container {
    margin-bottom: 80px;
} */

/* Style for each FAQ item */
.faq-item {
    margin: 2rem 0;
    cursor: pointer;
}

.question {
    font-weight: bold;
    color: white;
}

.answer {
    margin-top: 5px;
    color: white;
}

